/* This file is not needed. There is nothing for me to do with this file as I don#t neccessarirly need it for my project */
/* This file would be used to make the project look good, but I have decided against it for now, maybe I will change it before the end of the project deadline... */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  background: linear-gradient(135deg, #f7f7f7, #c7c7c7);
  font-family: "Poppins", sans-serif;
}
.abs {
  justify-content: center;
  background-color: #f7f7f7;
  border-color: black;
  border-width: 2px;
  border-radius: 5%;
}
