/* This file is not needed. There is nothing for me to do with this file as I don#t neccessarirly need it for my project */
/* This file would be used to make the project look good, but I have decided against it for now, maybe I will change it before the end of the project deadline... */
body {
  background: #f5efe6;
  font-family: sans-serif;
}
