/*p {
    text-align: center;
    color: red;
}
/* This rule applies to the element with id "para1" */
#para1 {
    text-align: center;
    color: blue;
}

.center {
    text-align: center;
    color: green;
}

p.center {
    text-align: center;
    color: orange;
}

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left:/*Comments can appear in the middle of a line of code*/ 20px;
}

div {
    background-color: green;
    opacity: 0.3;
}


p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}



/* Comments are written inside this */
/* Comments can span multiple lines */